/* Sfondo dell'header */
.header {
  background: linear-gradient(135deg, #FAF3E0, #D8C3A5);
  /* Bianco panna → Beige */
  color: #8c885e;
  /* Verde oliva */
  padding: 20px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Titolo */
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(107, 142, 35, 0.3);
  /* Ombra verde oliva leggera */
}

/* Effetto hover */
.title:hover {
  color: #556B2F;
  /* Verde oliva scuro */
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

main {
  padding: 20px 0;
  background-color: beige;
}



.section-articoli h2 {
  text-align: center;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form-articoli {
  border: 1px solid black;
  border-radius: 30px;
  background-color: palegoldenrod;
  padding: 30px;
  margin: 30px;
}

.form-articoli input,
.form-articoli textarea {
  margin: 10px auto;
  padding: 10px;
  display: block;
  text-align: center;
}

.box-btn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.autore {
  text-align: right;
  text-decoration: underline;
  font-style: italic;
  font-weight: 500;
  padding-top: 10px;
  margin: 0;
}

.box-articoli {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.toast {
  margin: 10px;
}


/* Footer */
.footer {
  background: linear-gradient(135deg, #D8C3A5, #FAF3E0);
  /* Beige → Bianco panna */
  color: #8c885e;
  /* Verde oliva */
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.footer p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin: 5px 0;
}

.footer-nav {
  margin-top: 10px;
}

.footer-nav a {
  text-decoration: none;
  color: #556B2F;
  /* Verde oliva scuro */
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer-nav a:hover {
  color: #6B8E23;
  /* Verde oliva più chiaro */
}