header {
  background-color: rgba(128, 128, 128, 0.498);
  padding: 20px;
}

main {
  padding: 20px 0;
  background-color: beige;
}



.autore {
  text-align: right;
  text-decoration: underline;
  font-style: italic;
  font-weight: 500;
  margin: 0;
  padding: 2px;
}